.login-container {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  &__login-form {
    position: relative;
    top: 30%;
  }

  &__form-container {
    height: 100%;
    width: 100%;
    position: relative;

    &--blur-filter {
      height: 100%;
      width: 100%;
      position: absolute;
      filter: blur(8px);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      overflow: hidden;
    }
  }
}

