@import '../../styles/variables.scss';

.live-dashboard {
  height: 100%;
  position: relative;

  &__body {
    padding: 20px;
    top: $app-bar-height;
    position: relative;
    height: calc(100% - #{$app-bar-height});
  }
  
  #live-dashboard-map {
    height: $live-dashboard-map-height;
  }
}